body {
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  font-family: Arial;
  word-spacing: 0.05em;
  letter-spacing: 0.02em;
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  font-size: 22px;
  font-family: "Arial", sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

a {
  text-decoration: none;
}


.header {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  background-color: orange;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 800;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.header li {
  display: inline-block;
}

.header a {
  display: block;
  color: white;
  padding: 20px 10px;
}

.banner {
  background-color: black;
  background-image: linear-gradient(#28154f, black);
  padding: 100px 0;
  margin-top: 77px;
  text-align: center;
}

.synopsis {
  padding: 20px;
  margin: 20px 0;
  text-align: left;
  color: white;
  display: flex;
  background-color:#176097;
  background-image: linear-gradient(#176097, black);
  
}

img {
object-fit: cover;
}

.castcrew {
  padding: 20px;
  margin: 20px 0;
  text-align: left;
  color: white;
  display: flex;
  background-color:#e80101b4;
  background-image: linear-gradient(#e80101b4, black);
}

.textsynopsis {
  font-size: 22px;
  font-family: "Arial", sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

.textcastcrew {
  font-size: 22px;
  font-family: "Arial", sans-serif;
  text-shadow: 2px 2px 4px #000000;
}