

html {
  font-size: 22px;
  font-family: "Arial", sans-serif;
}

body {
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  color: white;
  font-size: 28px;
  font-family: Georgia;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  font-family: Arial;
  word-spacing: 0.05em;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 22px;
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 16px 0;
  font-family: Helvetica;
}


#serif, /* Offset linked sections to account for header. */
#sans,
#mono {
  padding-top: 77px;
  margin-top: -77px;
}

/* Header */

.header {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  background-color: orange;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 800;
  text-align: center;
}

.header li {
  display: inline-block;
}

.header a {
  display: block;
  color: white;
  padding: 30px 20px;
}



/* Banner Section */

.banner {
  background-color: black;
  background-image: linear-gradient(#28154f, black);
  padding: 100px 0;
  margin-top: 77px;
  text-align: center;
}



/* Editorial Sections */

.synopsis {
  padding: 20px;
  margin: 20px 0;
  text-align: left;
  color: white;
  display: flex;
  background-color:#176097;
}
img {
object-fit: cover;
}
.castcrew {
  padding: 20px;
  margin: 20px 0;
  text-align: left;
  color: white;
  display: flex;
  background-color:#971717;
}
